<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="BootstrapUri" value="" />
        <add key="ApiBaseUrl" value="" />
        <add key="ApiToken" value="" />
        <add key="ApiProjectId" value="" />
        <add key="ApiProjectName" value="" />
        <add key="AllowInvalidServerCertificate" value="true" />
        <add key="HttpTimeoutSeconds" value="300" />
        <add key="AutoLoadWellsOnStartup" value="true" />
        <add key="LogLevel" value="Debug" />
        <add key="DebugLogging" value="true" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
